<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css"></link>

        <style></style>
        <title>pcrpgow</title>
        <script src="playcanvas-stable.min.js"></script>
        <script>
            SCENE_PATH = "409249.json";
            CONTEXT_OPTIONS = {
                'alpha': false,
                'preserveDrawingBuffer': false
            };
        </script>
    </head>
    <body>

    </body>
</html>
